*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.fcontainer{
    height: 100%;
    width: 100;
    background-color: #1D1D1D;
}
.sContainer{
    display: flex;
    justify-content: center;
    padding: 0px 100px 0px 0px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    width: 100%;
    height: 30px;
}
.login{
    top: 25px;
    left: 1400px;
    position: absolute;
    width: 55px;
    height: 20px;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
img.image{
    float: left;
    width: 70px;
    height: 70px;
}
.branded{
    margin-top: 25px;
    margin-left: 90px;
    color: #fff;
    font-weight: 700;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
#about{
    color: #ec7969;
}
.navigation>li{
    list-style-type: none;
    padding: 15px;
}
.navigation>li>a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
.navigation>li>a:hover{
    color: #ec7969;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
h1{
    color: #ec7969;
    padding-top: 20px;
    padding-left: 45%;
    padding-bottom: 40px;
    font-size: 50px;
}
.tcontainer{
    display: flex;
    align-content: space-between;
    background-color: #262626;
    margin: 0 100px 40px 100px;
}
.text{
    padding: 100px;
}
p{
    color: #fff;
    text-align: justify;
}
img{
    width: 50%;
    height: 50%;
}
.copyright{
    color: white;
    padding: 50px 50px 50px 100px;
}